*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.play-list {
    list-style-type: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    min-height: 220px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height: 260px;
    padding: 20px;
}